<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand " href="#">Journale RC</a>

    <div class="collapse navbar-collapse mr-auto" id="navbarText">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">

        <li class="nav-item" ><a routerLink="admin">User Manager</a></li>

      </ul>

      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item"  ><a routerLink="admin">Shopping List</a></li>
      </ul>


      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            RAFFASS Ayoub
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="admin">Login</a>
            <a class="dropdown-item" routerLink="admin">Logout</a>
          </div>
        </li>
      </ul>

    </div>
</nav>
