<ul style="height: 100%" nz-menu [nzMode]="'inline'"  [nzInlineCollapsed]="isCollapsed" >
  <li (click)="collapse($event)" style="text-align: center"  nz-menu-item nz-tooltip nzPlacement="right">
          <span  title>
            <i nz-icon>
              <i *ngIf="!isCollapsed" (click)="collapse($event)" class="icon-chevron_left_24px"></i>
              <i *ngIf="isCollapsed" (click)="collapse($event)" class="icon-chevron_right_24px"></i>
            </i>
          </span>
  </li>
  <li nz-submenu="" nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Workspace' : ''">
          <span title>
            <i nz-icon><i class="icon-window-section"></i></i>
            <span>UserManager</span>
          </span>
    <ul>
      <li nz-menu-item>ListUsers</li>
    </ul>
  </li>

  <li style="pointer-events: none" class="p-0" nz-menu-item>
    <hr class="col-xs-12">
  </li>
  <li class="pr-1" nz-submenu nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Data sources Import' : ''">
          <span title>
            <i nz-icon><i class="icon-call_merge_24px"></i></i>
            <span>ArticleManagert</span>
          </span>
    <ul>
      <li nz-menu-item>ListArticle</li>
      <li nz-menu-item>addArticle</li>
      <li nz-menu-item>ConfirmArticle</li>
    </ul>
  </li>




</ul>
