<h2 class = "h2" style="margin-top: 30px">Articles</h2>

<div class="row">
  <div class="col-11 text-right" style="margin-top: 30px" >
    <button (click)="showDialog()" class="btn btn-primary">Add Article</button>
  </div>

  <div class="col-11" style="margin-top: 10px">
    <p-table [value]="articles">
      <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
      </tr>
      </ng-template>

      <ng-template pTemplate="body" let-article>
        <tr>
         <td>{{ article.id }}</td>
         <td>{{ article.name }}</td>
          <td>
            <a routerLink= "/article/{{article.id}}">{{ article.name }}</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '700px', height: '300px'}" [draggable] = true [resizable]= true>
  <p-header>
    Add new Article (this is my dialog)
  </p-header>

  <form>

    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div style="float: right">
      <button type="submit" class="btn btn-outline-danger" (click)="hideDialog()">Cancel</button>
    </div>

    <div style="float: left">
      <button type="submit" class="btn btn-success" (click)="hideDialog()">Submit</button>
    </div>



  </form>

  <p-footer >
    @C&R Journal
  </p-footer>
</p-dialog>
