<!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->

<div class="row">
  <div class="col-12 text-right" style="margin-top: 30px; margin-bottom: 10px">
    <button (click)="onClick()" class="btn btn-primary">btn</button>
  </div>

  <div class="col-12">
    <p-table [value]="cars">
      <ng-template pTemplate="header">
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>username</th>
          <th>email</th>
          <th>phoneNumber</th>
          <th>role</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.firstname}}</td>
          <td>{{car.lastname}}</td>
          <td>{{car.username}}</td>
          <td>{{car.email}}</td>
          <td>{{car.phoneNumber}}</td>
          <td>{{car.role}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
