<!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->
<h2 class = "h2" style="margin-top: 30px">Users</h2>

<div class="row">
  <div class="col-11 text-right" style="margin-top: 30px" >
      <button (click)="onClick()" class="btn btn-primary">Add User</button>
  </div>

  <div class="col-11" style="margin-top: 10px">
    <p-table [value]="users">
      <ng-template pTemplate="header">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Username</th>
          <th>Email</th>
          <th>PhoneNumber</th>
          <th>Role</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.role}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog [(visible)]="display" [style]="{width: '700px', height: '300px'}" [draggable] = true [resizable]= true>
    <p-header>
      Add new user
    </p-header>
  
    <form class="form-signin" #f="ngForm" (ngSubmit)="addUser(f)">
  
      <div class="form-group">
        <label for="firstname">first Name</label>
        <input type="text"
         name="firstname"
         ngModel #firstname="ngModel"
         class="form-control" 
         id="firstname" 
         required>
      </div>
  
      <div class="form-group">
        <label for="lastname">lastname</label>
        <input type="text"
        name="lastname"
        ngModel #secondame="ngModel" 
        class="form-control" id="secondname" required>
      </div>
  
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
        name="username"
        ngModel #username="ngModel" 
        class="form-control" 
        id="username" required>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" 
        name="email"
        ngModel #email="ngModel"
        class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="role">admin</label>
        <input type="checkbox"
        ngModel #role="ngModel" 
        class="form-control" name="role" value="user" />
        <label for="role">user</label>
        <input type = "checkbox"
        ngModel #role="ngModel" 
        class="form-control" name="role" value="admin"/>
      </div>
      <div class="form-group">
        <label for="phone">phone number</label>
        <input type="text"
        name= "phoneNumber"
        ngModel #phone="ngModel" 
        class="form-control" id="phone" required>
      </div>
      <div style="float: right">
        
        <button type="reset" class="btn btn-outline-danger" >Reset</button>
      </div>
  
      <div style="float: left">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Submit</button>
      </div>
  
    </form>
  
    <p-footer >
      @C&R Journal
    </p-footer>
  </p-dialog>
</div>
